.navbar {
  background-color: white;
  display: flex;
  margin: 5px;
  padding: 15px;
}

.navbox {
  flex: 1;
  text-align: center;
  cursor: pointer;
}

.text-skyblue {
  color: skyblue;
}

.font-bold {
  font-weight: bold;
}

.border-right {
  border-right: solid 2px grey;
}
